/* Landing page Layout */

.showcase {
  background: linear-gradient(#0e6eab, #1882c4);
  display: grid;
  place-items: center;
  height: 100vh;
}
h1 {
  color: black;
  margin: 0 0 auto;
}
.logoXl {
  width: 400px;
}
