/* Landing page Layout */

.showcase {
  background: linear-gradient(#0e6eab, #1882c4);
  display: grid;
  place-items: center;
  height: 100vh;
}
h1 {
  color: black;
  margin: 0 0 auto;
}
.logoXl {
  width: 400px;
}

/* Company Vision */

.vision {
  height: 100vh;
  display: flex;
  position: relative;
}
.vision-description {
  position: absolute;
  top: 40%;
  left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
  max-width: 500px;
}
.vision-description h2 {
  line-height: 1;
  font-size: 5rem;
}
.vision-description h3 {
  line-height: 1;
  font-size: 3rem;
}
.vision-description p {
  line-height: 1.5;
  font-size: 1.2rem;
}

/* History */

.slideshow-container {
  position: relative;
  display: flex;
  margin: auto;
}

.mySlides {
  height: 100vh;
  position: relative;
  transition: all 0.3s ease-in-out;
}

/* The date/indicators */

.timeline-swiper {
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 100%;
  font-size: 0;
}

.year-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 2rem;
  font-size: 1rem;
  background-color: rgba(187, 187, 187, 0.192);
  transition: background-color 0.6s ease;
}

.active,
.year-button:hover {
  background-color: var(--primary-color);
}


@media screen and (max-width: 800px) {
  .timeline-swiper {
    position: relative;
    background-color: var(--primary-color);
  }
  .year-button {
    background-color: rgba(0, 0, 0, 0.26);
  }
  .year-button:hover,
  .active {
    background-color: black;
  }

  .vision-description h2 {
    font-size: 3rem;
  }
  .vision-description h3 {
    line-height: 1;
    font-size: 2rem;
  }
  .vision-description p {
    line-height: 1.2;
  }
  .slideshow-container .vision-description {
    top: 20%;
  }
}
