:root {
	/* Color scheme */
	--reo-c-white: #ffffff;
	--reo-c-white-soft: #f8f8f8;
	--reo-c-white-mute: #f2f2f2;

	--reo-c-black: #181818;
	--reo-c-black-soft: #222222;
	--reo-c-black-mute: #282828;

	--reo-c-indigo: #0e6eab;

	--reo-c-divider-light-1: rgba(60, 60, 60, 0.29);
	--reo-c-divider-light-2: rgba(60, 60, 60, 0.12);
	--reo-c-divider-dark-1: rgba(84, 84, 84, 0.65);
	--reo-c-divider-dark-2: rgba(84, 84, 84, 0.48);

	--reo-c-text-light-1: var(--reo-c-indigo);
	--reo-c-text-light-2: rgba(60, 60, 60, 0.66);
	--reo-c-text-dark-1: var(--reo-c-white);
	--reo-c-text-dark-2: rgba(235, 235, 235, 0.64);

	/* Breakpoints */
	--breakpoint-tablet: 720px;
	--breakpoint-desktop: 1280px;
}

/* semantic color variables for this project */
:root {
	--color-background: var(--reo-c-white);
	--color-background-soft: var(--reo-c-white-soft);
	--color-background-mute: var(--reo-c-white-mute);

	--color-border: var(--reo-c-divider-light-2);
	--color-border-hover: var(--reo-c-divider-light-1);

	--color-heading: var(--reo-c-text-light-1);
	--color-text: var(--reo-c-text-light-1);

	--section-gap: 160px;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--color-background: var(--reo-c-black);
		--color-background-soft: var(--reo-c-black-soft);
		--color-background-mute: var(--reo-c-black-mute);

		--color-border: var(--reo-c-divider-dark-2);
		--color-border-hover: var(--reo-c-divider-dark-1);

		--color-heading: var(--reo-c-text-dark-1);
		--color-text: var(--reo-c-text-dark-2);
	}
} */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

body {
	min-height: 100vh;
	color: var(--color-text);
	background: var(--color-background);
	transition: color 0.5s, background-color 0.5s;
	line-height: 1.6;
	font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
