@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");

:root {
  --primary-color: #0e6eab;
  --secondary-color: rgba(0, 0, 0, 0.7);
  --box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: Arial, Verdana, sans-serif;
  background-color: #fff;
  color: #fff;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  font-size: 0.9rem;
  font-weight: 400;
}
i {
  padding: 0 0.5rem;
}

h1 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

hr {
  margin: auto;
  width: 90%;
  border-color: #000;
  background-color: #000;
}

img {
  width: 100%;
  height: 100%;
}

/* Content latout header-main-footer */
.parent {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  height: 100%;
}

header {
  top: 0;
  width: 100%;
  height: 66px;
  position: fixed;
  background: #ffffff;
  padding: 0 2rem;
  z-index: 2;
  box-shadow: 0 0 5px var(--secondary-color);
}

.navbar {
  margin: 0 auto;
  display: flex;
  place-items: center;
  max-width: 1300px;
}

.logo {
  width: 90px;
  padding: 0.4rem;
}
.navbar-link {
  margin: 0 auto 0 4rem;
}
.navbar-link ul {
  display: flex;
  gap: 1rem;
}
.navbar-link a {
  color: var(--primary-color);
}
.hamburger {
  margin-left: auto;
}

/* toggle btn */
.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--primary-color);
}

/* Side navagation menue */

.sideNav {
  height: 100%;
  width: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
}
.sideNav-focus {
  top: 49.99%;
  right: 0;
  height: 0;
  transform: translate(0, -50%);
  width: 0;
  position: fixed;
  background: linear-gradient(
    rgba(109, 107, 107, 0.7),
    rgba(109, 107, 107, 0.5),
    rgba(109, 107, 107, 0.7)
  );
  transition: 0.3s ease;
  z-index: 3;
}
.sideNav a {
  transition: 0.3s;
  padding: 16px 0 16px;
  font-size: 1rem;
  color: var(--primary-color);
}
.sideNav .links {
  margin: 0 3rem 0.5rem;
  text-align: right;
}
.sideNav .links a {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sideNav .closebtn {
  margin: 0.5rem 3rem 0 auto;
  top: 2rem;
  right: 3.5rem;
  font-size: 1.8rem;
}
.sideNav .links .subsection {
  color: var(--secondary-color);
  font-weight: 600;
  border-bottom: none;
  display: block;
  padding: 16px 0 0;
  font-size: 1rem;
  text-transform: uppercase;
}

@media screen and (max-height: 450px) {
  .sideNav {
    padding-top: 15px;
  }
  .sideNav a {
    font-size: 18px;
  }
}

/* Main */

main {
  padding-top: 66px;
  padding-bottom: 90px;
}
/* Footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  color: #999;
  height: 90px;
}
footer .content {
  display: flex;
  padding: 2rem;
  font-size: 0.8rem;
}
footer .content span {
  margin-left: auto;
}
footer .content ul {
  display: flex;
  margin-right: auto;
}
footer ul a {
  margin-left: 1rem;
  color: var(--primary-color);
}

@media (max-width: 800px) {
  .navbar {
    display: flex;
  }
  .logo {
    margin: auto;
  }
  .navbar-link {
    display: none;
  }
  .hamburger {
    position: absolute;
    right: 0;
    margin: auto 5% auto auto;
  }
  footer .content {
    flex-direction: column;
  }
  footer .content span {
    margin: auto auto 10px;
  }
  footer .content ul {
    margin: 0 auto;
  }
}

/* Utiities */
.text {
  line-height: 1.4;
  font-size: 1rem;
}

.btn {
  position: relative;
  display: grid;
  place-content: center;
  color: #fff;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  max-width: 200px;
  margin: 30px 20px;
  border: 2px solid #fff;
  border-radius: 2px;
  padding: 14px 30px;
  overflow: hidden;
  transition: 0.9s all ease;
  z-index: 1;
}

.btn:before {
  background: #fff;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s all ease;
  position: absolute;
}

.btn:hover {
  color: #000;
}

.btn1:before {
  top: 100%;
  width: 101%;
  height: 0%;
  transform: translate(0, -100%);
}

.btn1:hover::before {
  height: 101%;
}

.btn0 {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn0::before {
  background-color: var(--primary-color);
}

.btn0:hover {
  color: #fff;
}
.link:hover {
  color: rgba(8, 8, 8, 0.404);
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1),
    0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.link1:hover {
  color: rgba(252, 252, 252, 0.548);
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1),
    0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.under:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Slideshow controls */

.previous-slide,
.next-slide {
  cursor: pointer;
  position: absolute;
  bottom: 2%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next-slide {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.previous-slide:hover,
.next-slide:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .previous-slide,
  .next-slide {
    font-size: 11px;
  }
}


/* TILES & tile container */
.product-title-header {
  margin: 4rem auto;
  font-size: 2rem;
  color: var(--primary-color);
  border-bottom: 2px solid var(--secondary-color);
  padding: 1rem;
  text-align: center;
  min-width: fit-content;
  max-width: max-content;
}
.product-tile-container {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, 27rem);
  gap: 1rem;
  max-width: 86rem;
  margin: 0 auto 8rem;
  padding: 0 0.5rem;
  
}
.product-tile {
  display: flex;
  flex-direction: column;
  border: var(--primary-color) 2px solid;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;

}
.product-tile:hover {
  box-shadow: var(--box-shadow);
}
.product-tile-image {
  margin: 1rem 0 0;
  height: 16rem;
}
.product-tile-description {
  background-color: var(--primary-color);
  text-align: center;
  padding: 0.5rem 0;
  max-height: 70px;
}
.product-tile-description h3 {
  font-size: 1.5rem;
}
@media (max-width: 600px) {
  .product-tile-container {
    grid-template-columns: none;
  }
}